    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {% if post.author.avatar %}
                            <img src="{{post.author.avatar}}" style="width:75px;height:75px;">
                            {{post.author.avatar}}
                        {% endif %}
                        {{ post.author.username }}
                    </a>
                {% endset %}
                <h4>{{post.title}}</h4>
                <p>{{user_link}} posted {{moment(post.timestamp).format('LLL')}}</p>
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>

                <br><br>
            </td>
        </tr>
    </table>
