<!doctype hmtl>

{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Vakgericht{% else %}{{ ('Welcome to Vakgericht') }}{% endif %}
{% endblock %}

{% block navbar %}
<div class="container">
    <div class="top-bar" style="height:100px;">
        <div class="row">
            <div class="col-sm-5">
                <img src="{{url_for('static', filename='logos/vakgerichtlogo.jpg')}}"/>
            </div>
            <div class="col-sim-7">
                <h1>Test2</h1>
            </div>
        </div>
    </div>
</div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Vakgericht</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ ('Home') }}</a></li>
                    <li><a href="{{ url_for('main.eventlist') }}">{{ ('Event List') }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ ('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{url_for('main.enterquote')}}">Quote</a></li>
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ ('Profile') }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ ('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
{% block app_content %}

{% block banner %}
    <div class="container">
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
    </div>
{% endblock %}

<body>
    <div class="container">
        <div class="row">
            {% block midcol %}
                <div class="col-xs-12 col-md-8"></div>
            {% endblock %}
            {% block rgtcol %}
                <h3>Agenda</h3>
                {% for item in agenda_list %}
                    <p><a href= "{{url_for('main.event', event_id=item.id) }}">{{item.title|string() }} <br></a> {{moment(item.start_time, local=True).calendar()}}</p>
                {% endfor %}
                <h3>Online</h3>
                {% for user in online_user  %}
                    <p><a href="{{ url_for('main.user', username=user) }}">{{user|string()}}<br></a></p>
                {% endfor %}       
             {% endblock %}
        </div>
    </div>
</body>

<footer>
{% block footer %}
<div class="container">
    <h2>GODVERDOMME</h2>
</div>
{% endblock %}
</footer>

{% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script>
    $(document).ready(function(){
        $('.banner').slick({
            setting-name: setting-value
        });
    });
    </script>
{% endblock %}