<!doctype HTML>

<html>
  <head>
  <title>My Now Amazing Webpage</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/slick.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
  </head>
  <body>

  <div class="banner">
        <img src="{{ url_for('static', filename='avatars/images.jpg') }}">
        <img src="{{ url_for('static', filename='avatars/vakgericht.jpeg') }}">
        <img src="{{ url_for('static', filename='avatars/moon.jpg') }}">
        <img src="{{ url_for('static', filename='avatars/bert.jpg') }}">

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/slick.js') }}"></script>
  <script>
  $(document).on('ready', function () {
            $(".banner").slick({
                dots: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
            });
        });
  </script>

  </body>
</html>
